
<p><strong>Release Information: </strong></p>

<table>
<tbody>
<tr>
<th style="text-align: left; padding: 4px;">Build User:</th>
    <td style="text-align: left; padding: 4px;">{0}</td>
</tr>
<tr>
<th style="text-align: left; padding: 4px;">Build ID: </th>
    <td style="text-align: left; padding: 4px;">{1}</td>
</tr>
<tr>
<th style="text-align: left; padding: 4px;">GIT Hash:</th>
    <td style="text-align: left; padding: 4px;">{2}</td>
</tr>
<tr>
<th style="text-align: left; padding: 4px;">GIT BRANCH: </th>
    <td style="text-align: left; padding: 4px;">{3}</td>
</tr>
<tr>
<th style="text-align: left; padding: 4px;">Release Type: </th>
    <td style="text-align: left; padding: 4px;">{4}</td>
</tr>
<tr>
<th style="text-align: left; padding: 4px;">Deploy Date:</th>
    <td style="text-align: left; padding: 4px;">{5}</td>
</tr>
</tbody></table>

<p><strong>JIRA Tickets: </strong> </p>