<p><i>Auto Created by Jenkins Deployment</i></p>
<p><strong>Project Name: {0}</strong></p>

<p><strong>Release Instructions: </strong>NA</p>

<br />
<p><b>Note: </b><i style="color: #ff6347;">Update below production release information table fields during the scheduled production deployment and after the deployment only. </i></p>
<table>
<tbody>
<tr>
<tr><th style="color: #6a5acd;"><strong>Infra Production Deployment JIRA Ticket: </strong></th><td>NA</td></tr>
<tr><th style="color: #6a5acd;"><strong>Production Deployment Status:  </strong></th><td>NA</td></tr>
<tr><th style="color: #6a5acd;"><strong>Production Deployment Done BY:  </strong></th><td>NA</td></tr>
<tr><th style="color: #6a5acd;"><strong>Production Deployment Notes: </strong></th><td>NA</td></tr>
<tr><th style="color: #6a5acd;"><strong>Production Deployment Date:  </strong></th><td>NA</td></tr>
<tr><th style="color: #6a5acd;"><strong>Production Deployment Sheet:  </strong></th><td>NA</td></tr>
</tr>
</tbody></table>
<p><b>Note: </b> <i style="color: #ff6347;">Update the above field to locked and do not make the changes after the production deployment to release sheet.</i></p>
<br />
<p><strong>Deployments: </strong> </p>